.home-page {
    .text-zone {
        position: absolute;
        left: 18%;
        top: 25%;
        transform: translateY(-50);
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 53px;
        line-height: 70px;
        margin: 0;
        font-family: "Coolvetica";
        font-weight: 400;

        &::before {
            content: "<h1> ";
            font-family: "La Belle Aurore";
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            left: -15px;
            margin-top: -35px;
            opacity: 0.6;
        }

        &::after {
            content: "<h1/>";
            font-family: "La Belle Aurore";
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: 20px;
            margin-left: 20px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }

        img {
            width: 40px;
            margin-left: 20px;
            margin-right: 5px;
            margin-bottom: -5px;
            opacity: 0;
            height: 60px;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 13px;
        font: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
    }

    .flat-button {
        color: #ffd700;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 4px;
        font: sans-serif;
        text-decoration: none;
        padding: 10px 18px;
        border: 1px solid #ffd700 ;
        margin-top: 25px;
        float: left;
        animation: fadeIn 1s 1.0s backwards;
        white-space: nowrap;

        &:hover {
            background: #ffd700;
            color: #333;
        }
    } 
}

.stage-cube-cont {
    width: 50%;
    height: 100%;
    top: 0;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;
}

.cubespinner {
    animation-name: spincube;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);

    div {
        position: absolute;
        width: 200px;
        height: 200px;
        border: 1px solid #ccc;
        background: rgba(255, 255, 255, 0.4);
        font-size: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 0 20px 0px lightyellow;
        font-family: "Coolvetica";
    }

    .face1 {
        transform: translateZ(100px);

        &::after {
            content: "HTML";
            position: absolute;
            font-size: large;
            bottom: 15px;
        }
    }

    .face2 {
        transform: rotateY(90deg) translateZ(100px);

        &::after {
            content: "CSS";
            position: absolute;
            font-size: large;
            bottom: 15px;
        }
    }

    .face3 {
        transform: rotateY(90deg) rotateX(90deg) translateZ(100px);   
        
        &::after {
            content: "JAVASCRIPT";
            position: absolute;
            font-size: large;
            bottom: 15px;
        }
    }

    .face4 {
        transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);  
        
        &::after {
            content: "REACT.JS";
            position: absolute;
            font-size: large;
            bottom: 15px;
        }
    }

    .face5 {
        transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);   
        
        &::after {
            content: "NODE.JS";
            position: absolute;
            font-size: large;
            bottom: 15px;
        }
    }

    .face6 {
        transform: rotateX(-90deg) translateZ(100px);   
        
        &::after {
            content: "GIT";
            position: absolute;
            font-size: large;
            bottom: 15px;
        }
    }
    
}

@keyframes spincube {
    from,
    to {
        transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
    }
    16% {
        transform: rotateZ(-90deg);
    }
    33% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    50% {
        transform: rotateY(-90deg) rotateZ(90deg);
    }
    66% {
        transform: rotateY(-270deg) rotateZ(90deg);
    }
    83% {
        transform: rotateX(90deg);
    }
}

// MOBILE MEDIA QUERY

@media screen and (max-width: 1200px) {
    .tags,
    .home-page h1::before,
    .home-page h1::after {
        display: none;
    }

    .home-page {
        .text-zone {
            position: initial;
            margin-top: 60px;
            width: 100%;
            transform: none;
            padding: 10px;
            box-sizing: border-box;

            h1, h2 {
                padding-left: 40px;
            }
        }

        .flat-button {
            float: none;
            display: block;
            margin: 20px auto 0 auto;
            width: 125px;
        }

        h1 {
            font-size: 35px;
            line-height: normal;

            img {
                width: 20px;
                height: 40px;
                margin-bottom: -2px;
            }
        }

        .stage-cube-cont {
            position: relative;
            margin: auto;
            width: 100%;
            height: 50%;
        }

    }
}

// TABLET AND SMALL LAPTOP MEDIA QUERY

@media screen and (min-width: 768px) and (max-width: 1200px) {
 .home-page {
    h1 {
        font-size: 50px;

        img {
            width: 30px;
            height: 50px;
        }
    }
 }
}