.nav-bar {
    background: #181818;
    width: 70px;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 3;
    min-height: 500px;

    ul {
        position: absolute;
        bottom: 20px;
        width: 100%;
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;

        li {
            a {
                padding: 7px 0;
                display: block;
                font-size: 15px;
                line-height: 16px;

                &:hover svg {
                    color: #ffd700;
                }
            }
        }
    }
}

nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
        font-size: 22px;
        color: #4d4d4e;
        display: block;
        line-height: 51px;
        height: 51px;
        position: relative;
        text-decoration: none;

        i {
            transition: all 300 ms ease-out;
        }

        &:hover {
            color: #ffd700;

            svg {
                opacity: 0;
            }

            &::after {
                opacity: 1;
            }
        }

        &::after {
            content: "";
            font-size: 8px;
            letter-spacing: 2px;
            position: absolute;
            bottom: 0;
            display: block;
            width: 100%;
            text-align: center;
            opacity: 0;
            transition: all 300ms ease-out;
        }

        &:first-child {
            &::after {
                content: "HOME";
                font-size: 12px;
            }
        }

    }

    a.about-link {
        &::after {
            content: "CHI SONO";
        }
    }

    a.portfolio-link {
        &::after {
            content: "PORTFOLIO";
        }
    }

    a.contact-link {
        &::after {
            content: "CONTATTI";
        }
    }

    a.active {
        svg {
            color: #ffd700;
        }
    }
}

.hamburger-icon,
.close-icon {
    display: none;
}

@media screen and (max-width: 1200px) {
    .nav-bar {
        background: transparent;
        position: initial;
        height: auto;
        min-height: auto;

        ul,
        nav {
            display: none;
        }

        nav {
            width: 100%;
            height: 100%;
            background: #181818;
            top: 0;
            left: 0;
            position: fixed;
            z-index: 90;
            margin: 0;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a:after {
                opacity: 1;
                position: initial;
                width: auto;
                margin-left: 10px;
                font-size: medium;
            }

            a svg {
                opacity: 1 !important;
            }

            &.mobile-show {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }

        .hamburger-icon {
            display: block;
            position: absolute;
            top: 15px;
            right: 15px;
            z-index: 80;
        }

        .close-icon {
            display: block;
            position: absolute;
            top: 15px;
            right: 15px; 
        }
    }
}